// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../index.js";
import { LogoClient } from "../resources/logo/client/Client.js";

export declare namespace ProfileClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProfileClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProfileClient.Options>;
    protected _logo: LogoClient | undefined;

    constructor(options: ProfileClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get logo(): LogoClient {
        return (this._logo ??= new LogoClient(this._options));
    }

    /**
     * Retrieve the full editable profile for the authenticated user's active business.
     *
     * @param {ProfileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     *
     * @example
     *     await client.business.profile.get()
     */
    public get(
        requestOptions?: ProfileClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.GetProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(requestOptions));
    }

    private async __get(
        requestOptions?: ProfileClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.GetProfileResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "business/profile",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.GetProfileResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/business/profile");
    }

    /**
     * Update core profile fields for the authenticated user's active business.
     *
     * @param {FiveOneEat.business.UpdateBusinessProfileRequest} request
     * @param {ProfileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.profile.update()
     */
    public update(
        request: FiveOneEat.business.UpdateBusinessProfileRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.UpdateProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: FiveOneEat.business.UpdateBusinessProfileRequest = {},
        requestOptions?: ProfileClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.UpdateProfileResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "business/profile",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.UpdateProfileResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/business/profile");
    }

    /**
     * Replace the set of cuisines associated with the authenticated user's active business.
     *
     * @param {FiveOneEat.business.SyncCuisinesRequest} request
     * @param {ProfileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.profile.syncCuisines({
     *         cuisine_ids: [1]
     *     })
     */
    public syncCuisines(
        request: FiveOneEat.business.SyncCuisinesRequest,
        requestOptions?: ProfileClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.SyncCuisinesProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__syncCuisines(request, requestOptions));
    }

    private async __syncCuisines(
        request: FiveOneEat.business.SyncCuisinesRequest,
        requestOptions?: ProfileClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.SyncCuisinesProfileResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "business/profile/cuisines",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.SyncCuisinesProfileResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/business/profile/cuisines");
    }

    /**
     * Replace the set of certifications associated with the authenticated user's active business.
     *
     * @param {FiveOneEat.business.SyncCertificationsRequest} request
     * @param {ProfileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.profile.syncCertifications({
     *         certification_ids: [1]
     *     })
     */
    public syncCertifications(
        request: FiveOneEat.business.SyncCertificationsRequest,
        requestOptions?: ProfileClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.SyncCertificationsProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__syncCertifications(request, requestOptions));
    }

    private async __syncCertifications(
        request: FiveOneEat.business.SyncCertificationsRequest,
        requestOptions?: ProfileClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.SyncCertificationsProfileResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "business/profile/certifications",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.SyncCertificationsProfileResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/business/profile/certifications",
        );
    }
}
