// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import type * as FiveOneEat from "../../../../../../../index.js";

export declare namespace TicketingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TicketingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TicketingClient.Options>;

    constructor(options: TicketingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.customer.events.HoldTicketsTicketingRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.events.ticketing.holdTickets({
     *         event: "event"
     *     })
     */
    public holdTickets(
        request: FiveOneEat.customer.events.HoldTicketsTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__holdTickets(request, requestOptions));
    }

    private async __holdTickets(
        request: FiveOneEat.customer.events.HoldTicketsTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(event)}/ticket-holds`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{event}/ticket-holds",
        );
    }

    /**
     * @param {FiveOneEat.customer.events.ReleaseHoldTicketingRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.events.ticketing.releaseHold({
     *         event: "event",
     *         sessionId: "sessionId"
     *     })
     */
    public releaseHold(
        request: FiveOneEat.customer.events.ReleaseHoldTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__releaseHold(request, requestOptions));
    }

    private async __releaseHold(
        request: FiveOneEat.customer.events.ReleaseHoldTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { event, sessionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(event)}/ticket-holds/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/events/{event}/ticket-holds/{sessionId}",
        );
    }

    /**
     * @param {FiveOneEat.customer.events.CalculatePriceTicketingRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.events.ticketing.calculatePrice({
     *         event: "event"
     *     })
     */
    public calculatePrice(
        request: FiveOneEat.customer.events.CalculatePriceTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__calculatePrice(request, requestOptions));
    }

    private async __calculatePrice(
        request: FiveOneEat.customer.events.CalculatePriceTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(event)}/calculate-price`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{event}/calculate-price",
        );
    }

    /**
     * @param {FiveOneEat.customer.events.CreatePaymentIntentTicketingRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.events.ticketing.createPaymentIntent({
     *         event: "event"
     *     })
     */
    public createPaymentIntent(
        request: FiveOneEat.customer.events.CreatePaymentIntentTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentIntent(request, requestOptions));
    }

    private async __createPaymentIntent(
        request: FiveOneEat.customer.events.CreatePaymentIntentTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(event)}/payment-intent`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{event}/payment-intent",
        );
    }

    /**
     * @param {FiveOneEat.customer.events.ConfirmOrderTicketingRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.events.ticketing.confirmOrder({
     *         event: "event"
     *     })
     */
    public confirmOrder(
        request: FiveOneEat.customer.events.ConfirmOrderTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__confirmOrder(request, requestOptions));
    }

    private async __confirmOrder(
        request: FiveOneEat.customer.events.ConfirmOrderTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(event)}/ticket-orders`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{event}/ticket-orders",
        );
    }
}
