// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../../../index.js";

export declare namespace TicketingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TicketingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TicketingClient.Options>;

    constructor(options: TicketingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Place a temporary hold on tickets for the specified event. Holds expire after 10 minutes.
     *
     * @param {FiveOneEat.customer.events.StoreTicketHoldRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.events.ticketing.holdTickets({
     *         eventId: "eventId",
     *         tickets: [{
     *                 ticket_type_id: "ticket_type_id",
     *                 quantity: 1
     *             }]
     *     })
     */
    public holdTickets(
        request: FiveOneEat.customer.events.StoreTicketHoldRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.events.HoldTicketsTicketingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__holdTickets(request, requestOptions));
    }

    private async __holdTickets(
        request: FiveOneEat.customer.events.StoreTicketHoldRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.events.HoldTicketsTicketingResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/ticket-holds`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.events.HoldTicketsTicketingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/ticket-holds",
        );
    }

    /**
     * Preview the subtotal, platform fee, and total for a given ticket selection.
     *
     * @param {FiveOneEat.customer.events.CalculatePriceRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.events.ticketing.calculatePrice({
     *         eventId: "eventId",
     *         tickets: [{
     *                 ticket_type_id: "ticket_type_id",
     *                 quantity: 1
     *             }]
     *     })
     */
    public calculatePrice(
        request: FiveOneEat.customer.events.CalculatePriceRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.events.CalculatePriceTicketingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__calculatePrice(request, requestOptions));
    }

    private async __calculatePrice(
        request: FiveOneEat.customer.events.CalculatePriceRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.events.CalculatePriceTicketingResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/calculate-price`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.events.CalculatePriceTicketingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/calculate-price",
        );
    }

    /**
     * Create a Stripe payment intent for the tickets held in the cart for the given event.
     * Returns a client_secret for the mobile app to confirm payment with Stripe.
     *
     * @param {FiveOneEat.customer.events.AppHttpRequestsApiV1CustomerEventsCreatePaymentIntentRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.events.ticketing.createPaymentIntent({
     *         eventId: "eventId",
     *         billing_address: {
     *             line1: "line1",
     *             city: "city",
     *             state: "state",
     *             postal_code: "postal_code",
     *             country: "country"
     *         }
     *     })
     */
    public createPaymentIntent(
        request: FiveOneEat.customer.events.AppHttpRequestsApiV1CustomerEventsCreatePaymentIntentRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.events.CreatePaymentIntentTicketingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentIntent(request, requestOptions));
    }

    private async __createPaymentIntent(
        request: FiveOneEat.customer.events.AppHttpRequestsApiV1CustomerEventsCreatePaymentIntentRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.events.CreatePaymentIntentTicketingResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/payment-intent`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.events.CreatePaymentIntentTicketingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/payment-intent",
        );
    }

    /**
     * Confirm a completed Stripe payment and create the ticket order.
     * The payment must have succeeded before calling this endpoint.
     *
     * @param {FiveOneEat.customer.events.StoreTicketOrderRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.events.ticketing.confirmOrder({
     *         eventId: "eventId",
     *         payment_intent_id: "payment_intent_id"
     *     })
     */
    public confirmOrder(
        request: FiveOneEat.customer.events.StoreTicketOrderRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.events.ConfirmOrderTicketingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__confirmOrder(request, requestOptions));
    }

    private async __confirmOrder(
        request: FiveOneEat.customer.events.StoreTicketOrderRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.events.ConfirmOrderTicketingResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/ticket-orders`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.events.ConfirmOrderTicketingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/ticket-orders",
        );
    }

    /**
     * @param {FiveOneEat.customer.events.ReleaseHoldTicketingRequest} request
     * @param {TicketingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.events.ticketing.releaseHold({
     *         eventId: "eventId",
     *         sessionId: "sessionId"
     *     })
     */
    public releaseHold(
        request: FiveOneEat.customer.events.ReleaseHoldTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__releaseHold(request, requestOptions));
    }

    private async __releaseHold(
        request: FiveOneEat.customer.events.ReleaseHoldTicketingRequest,
        requestOptions?: TicketingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { eventId, sessionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/ticket-holds/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/events/{eventId}/ticket-holds/{sessionId}",
        );
    }
}
