// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../index.js";
import { PhotosClient } from "../resources/photos/client/Client.js";

export declare namespace BusinessSubmissionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BusinessSubmissionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BusinessSubmissionsClient.Options>;
    protected _photos: PhotosClient | undefined;

    constructor(options: BusinessSubmissionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get photos(): PhotosClient {
        return (this._photos ??= new PhotosClient(this._options));
    }

    /**
     * @param {BusinessSubmissionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.businessSubmissions.list()
     */
    public list(
        requestOptions?: BusinessSubmissionsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.ListBusinessSubmissionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: BusinessSubmissionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.ListBusinessSubmissionsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/business-submissions",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.ListBusinessSubmissionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/business-submissions",
        );
    }

    /**
     * @param {FiveOneEat.customer.StoreBusinessSubmissionRequest} request
     * @param {BusinessSubmissionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.businessSubmissions.create({
     *         name: "name",
     *         address: "address",
     *         city: "city",
     *         state: "state",
     *         zipcode: "zipcode",
     *         country: "country",
     *         latitude: 1.1,
     *         longitude: 1.1
     *     })
     */
    public create(
        request: FiveOneEat.customer.StoreBusinessSubmissionRequest,
        requestOptions?: BusinessSubmissionsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.CreateBusinessSubmissionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: FiveOneEat.customer.StoreBusinessSubmissionRequest,
        requestOptions?: BusinessSubmissionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.CreateBusinessSubmissionsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/business-submissions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.CreateBusinessSubmissionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/business-submissions",
        );
    }

    /**
     * @param {FiveOneEat.customer.GetBusinessSubmissionsRequest} request
     * @param {BusinessSubmissionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.customer.businessSubmissions.get({
     *         business: "business"
     *     })
     */
    public get(
        request: FiveOneEat.customer.GetBusinessSubmissionsRequest,
        requestOptions?: BusinessSubmissionsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.GetBusinessSubmissionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: FiveOneEat.customer.GetBusinessSubmissionsRequest,
        requestOptions?: BusinessSubmissionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.GetBusinessSubmissionsResponse>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/business-submissions/${core.url.encodePathParam(business)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.GetBusinessSubmissionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/business-submissions/{business}",
        );
    }
}
