// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";
import { AuthClient } from "../resources/auth/client/Client.js";
import { BusinessesClient } from "../resources/businesses/client/Client.js";
import { DiscoveryClient } from "../resources/discovery/client/Client.js";
import { EditorialsClient } from "../resources/editorials/client/Client.js";
import { EventsClient } from "../resources/events/client/Client.js";
import { ExploreClient } from "../resources/explore/client/Client.js";
import { MeClient } from "../resources/me/client/Client.js";
import { MessagingClient } from "../resources/messaging/client/Client.js";
import { PushNotificationsClient } from "../resources/pushNotifications/client/Client.js";

export declare namespace CustomerClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomerClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomerClient.Options>;
    protected _auth: AuthClient | undefined;
    protected _businesses: BusinessesClient | undefined;
    protected _explore: ExploreClient | undefined;
    protected _discovery: DiscoveryClient | undefined;
    protected _editorials: EditorialsClient | undefined;
    protected _events: EventsClient | undefined;
    protected _messaging: MessagingClient | undefined;
    protected _me: MeClient | undefined;
    protected _pushNotifications: PushNotificationsClient | undefined;

    constructor(options: CustomerClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get auth(): AuthClient {
        return (this._auth ??= new AuthClient(this._options));
    }

    public get businesses(): BusinessesClient {
        return (this._businesses ??= new BusinessesClient(this._options));
    }

    public get explore(): ExploreClient {
        return (this._explore ??= new ExploreClient(this._options));
    }

    public get discovery(): DiscoveryClient {
        return (this._discovery ??= new DiscoveryClient(this._options));
    }

    public get editorials(): EditorialsClient {
        return (this._editorials ??= new EditorialsClient(this._options));
    }

    public get events(): EventsClient {
        return (this._events ??= new EventsClient(this._options));
    }

    public get messaging(): MessagingClient {
        return (this._messaging ??= new MessagingClient(this._options));
    }

    public get me(): MeClient {
        return (this._me ??= new MeClient(this._options));
    }

    public get pushNotifications(): PushNotificationsClient {
        return (this._pushNotifications ??= new PushNotificationsClient(this._options));
    }

    /**
     * Returns grouped results for each type. Use per_type to control how many results
     * appear per section. Optionally filter by category, city, or geo radius.
     *
     * @param {FiveOneEat.SearchCustomerRequest} request
     * @param {CustomerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.search({
     *         q: "wings",
     *         category: "restaurant",
     *         city: "Buffalo",
     *         cuisines: "italian,mexican",
     *         certifications: "kosher,halal"
     *     })
     */
    public search(
        request: FiveOneEat.SearchCustomerRequest,
        requestOptions?: CustomerClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.SearchCustomerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: FiveOneEat.SearchCustomerRequest,
        requestOptions?: CustomerClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.SearchCustomerResponse>> {
        const {
            q,
            category,
            city,
            cuisines,
            certifications,
            radius_km: radiusKm,
            per_type: perType,
            lat,
            lng,
        } = request;
        const _queryParams: Record<string, unknown> = {
            q,
            category,
            city,
            cuisines,
            certifications,
            radius_km: radiusKm,
            per_type: perType,
            lat: lat != null ? toJson(lat) : undefined,
            lng: lng != null ? toJson(lng) : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/search",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.SearchCustomerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/search");
    }
}
