// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace PublicListsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PublicListsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PublicListsClient.Options>;

    constructor(options: PublicListsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Read a publicly shared list. No authentication required — this is what a
     * share link resolves to.
     *
     * A private list returns 404 rather than 403: a 403 would confirm the list
     * exists, which is more than a stranger should learn from a guessed URL.
     * Items exclude delisted businesses, so a business that has left the
     * platform cannot leak through someone's shared link.
     *
     * @param {FiveOneEat.GetPublicListsRequest} request
     * @param {PublicListsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.publicLists.get({
     *         businessList: "businessList"
     *     })
     */
    public get(
        request: FiveOneEat.GetPublicListsRequest,
        requestOptions?: PublicListsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetPublicListsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: FiveOneEat.GetPublicListsRequest,
        requestOptions?: PublicListsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetPublicListsResponse>> {
        const { businessList } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `public/lists/${core.url.encodePathParam(businessList)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetPublicListsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/public/lists/{businessList}");
    }
}
