// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as FiveOneEat from "../../../../../../../../../index.js";

export declare namespace ImagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ImagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ImagesClient.Options>;

    constructor(options: ImagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.business.products.variants.UploadImagesRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.business.products.variants.images.upload({
     *         variant: "variant"
     *     })
     */
    public upload(
        request: FiveOneEat.business.products.variants.UploadImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__upload(request, requestOptions));
    }

    private async __upload(
        request: FiveOneEat.business.products.variants.UploadImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { variant } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/products/variants/${core.url.encodePathParam(variant)}/images`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/business/products/variants/{variant}/images",
        );
    }

    /**
     * @param {FiveOneEat.business.products.variants.ReorderImagesRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.business.products.variants.images.reorder({
     *         variant: "variant"
     *     })
     */
    public reorder(
        request: FiveOneEat.business.products.variants.ReorderImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__reorder(request, requestOptions));
    }

    private async __reorder(
        request: FiveOneEat.business.products.variants.ReorderImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { variant } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/products/variants/${core.url.encodePathParam(variant)}/images/reorder`,
            ),
            method: "PUT",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/business/products/variants/{variant}/images/reorder",
        );
    }

    /**
     * @param {FiveOneEat.business.products.variants.DeleteImagesRequest} request
     * @param {ImagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.business.products.variants.images.delete({
     *         variant: "variant",
     *         image: "image"
     *     })
     */
    public delete(
        request: FiveOneEat.business.products.variants.DeleteImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: FiveOneEat.business.products.variants.DeleteImagesRequest,
        requestOptions?: ImagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { variant, image } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/products/variants/${core.url.encodePathParam(variant)}/images/${core.url.encodePathParam(image)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/business/products/variants/{variant}/images/{image}",
        );
    }
}
