// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace CustomerMyAccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomerMyAccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomerMyAccountClient.Options>;

    constructor(options: CustomerMyAccountClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a single ticket belonging to the authenticated user.
     *
     * @param {FiveOneEat.GetMyTicketRequest} request
     * @param {CustomerMyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customerMyAccount.getMyTicket({
     *         ticketId: "ticketId"
     *     })
     */
    public getMyTicket(
        request: FiveOneEat.GetMyTicketRequest,
        requestOptions?: CustomerMyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyTicketResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyTicket(request, requestOptions));
    }

    private async __getMyTicket(
        request: FiveOneEat.GetMyTicketRequest,
        requestOptions?: CustomerMyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyTicketResponse>> {
        const { ticketId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/tickets/${core.url.encodePathParam(ticketId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyTicketResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/tickets/{ticketId}");
    }

    /**
     * Retrieve a single ticket order belonging to the authenticated user.
     *
     * @param {FiveOneEat.GetMyTicketOrderRequest} request
     * @param {CustomerMyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customerMyAccount.getMyTicketOrder({
     *         orderId: "orderId"
     *     })
     */
    public getMyTicketOrder(
        request: FiveOneEat.GetMyTicketOrderRequest,
        requestOptions?: CustomerMyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyTicketOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyTicketOrder(request, requestOptions));
    }

    private async __getMyTicketOrder(
        request: FiveOneEat.GetMyTicketOrderRequest,
        requestOptions?: CustomerMyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyTicketOrderResponse>> {
        const { orderId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/ticket-orders/${core.url.encodePathParam(orderId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyTicketOrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/ticket-orders/{orderId}",
        );
    }
}
