// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../index.js";

export declare namespace CartClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CartClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CartClient.Options>;

    constructor(options: CartClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.customer.GetCartRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.cart.get({
     *         business: "katzs-deli"
     *     })
     */
    public get(
        request: FiveOneEat.customer.GetCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.GetCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: FiveOneEat.customer.GetCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.GetCartResponse>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/cart`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.customer.GetCartResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{business}/cart",
        );
    }

    /**
     * @param {FiveOneEat.customer.AddToCartRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.cart.addItem({
     *         business: "katzs-deli",
     *         product_id: 1,
     *         quantity: 1
     *     })
     */
    public addItem(
        request: FiveOneEat.customer.AddToCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.AddItemCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addItem(request, requestOptions));
    }

    private async __addItem(
        request: FiveOneEat.customer.AddToCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.AddItemCartResponse>> {
        const { business, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/cart`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.AddItemCartResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/cart",
        );
    }

    /**
     * @param {FiveOneEat.customer.ClearCartRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.cart.clear({
     *         business: "katzs-deli"
     *     })
     */
    public clear(
        request: FiveOneEat.customer.ClearCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.ClearCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__clear(request, requestOptions));
    }

    private async __clear(
        request: FiveOneEat.customer.ClearCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.ClearCartResponse>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/cart`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.ClearCartResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/businesses/{business}/cart",
        );
    }

    /**
     * Returns client_secret, price breakdown, and tax calculation for use with Stripe SDK.
     *
     * @param {FiveOneEat.customer.CreatePaymentIntentRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     * @throws {@link FiveOneEat.InternalServerError}
     * @throws {@link FiveOneEat.ServiceUnavailableError}
     *
     * @example
     *     await client.customer.cart.createPaymentIntent({
     *         business: "katzs-deli",
     *         billing_address: {
     *             line1: "line1",
     *             city: "city",
     *             state: "state",
     *             postal_code: "postal_code",
     *             country: "country"
     *         }
     *     })
     */
    public createPaymentIntent(
        request: FiveOneEat.customer.CreatePaymentIntentRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.CreatePaymentIntentCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentIntent(request, requestOptions));
    }

    private async __createPaymentIntent(
        request: FiveOneEat.customer.CreatePaymentIntentRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.CreatePaymentIntentCartResponse>> {
        const { business, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/cart/payment-intent`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.CreatePaymentIntentCartResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new FiveOneEat.InternalServerError(
                        _response.error.body as FiveOneEat.InternalServerErrorBody,
                        _response.rawResponse,
                    );
                case 503:
                    throw new FiveOneEat.ServiceUnavailableError(
                        _response.error.body as FiveOneEat.ServiceUnavailableErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/cart/payment-intent",
        );
    }

    /**
     * Verifies the Stripe payment intent, creates the order, decrements inventory,
     * clears the cart, and dispatches order confirmation notifications.
     *
     * @param {FiveOneEat.customer.CheckoutRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.cart.checkout({
     *         business: "katzs-deli",
     *         payment_intent_id: "payment_intent_id",
     *         billing_address: {
     *             line1: "line1",
     *             city: "city",
     *             state: "state",
     *             postal_code: "postal_code",
     *             country: "country"
     *         }
     *     })
     */
    public checkout(
        request: FiveOneEat.customer.CheckoutRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.CheckoutCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkout(request, requestOptions));
    }

    private async __checkout(
        request: FiveOneEat.customer.CheckoutRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.CheckoutCartResponse>> {
        const { business, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/cart/checkout`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.CheckoutCartResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/cart/checkout",
        );
    }

    /**
     * @param {FiveOneEat.customer.UpdateCartItemRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.cart.updateItem({
     *         cartItem: "cartItem",
     *         quantity: 1
     *     })
     */
    public updateItem(
        request: FiveOneEat.customer.UpdateCartItemRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.UpdateItemCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateItem(request, requestOptions));
    }

    private async __updateItem(
        request: FiveOneEat.customer.UpdateCartItemRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.UpdateItemCartResponse>> {
        const { cartItem, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/cart/items/${core.url.encodePathParam(cartItem)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.UpdateItemCartResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/customer/cart/items/{cartItem}",
        );
    }

    /**
     * @param {FiveOneEat.customer.RemoveItemCartRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.customer.cart.removeItem({
     *         cartItem: "cartItem"
     *     })
     */
    public removeItem(
        request: FiveOneEat.customer.RemoveItemCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.RemoveItemCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__removeItem(request, requestOptions));
    }

    private async __removeItem(
        request: FiveOneEat.customer.RemoveItemCartRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.RemoveItemCartResponse>> {
        const { cartItem } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/cart/items/${core.url.encodePathParam(cartItem)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.RemoveItemCartResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/cart/items/{cartItem}",
        );
    }

    /**
     * Returns available shipping rates for the given address. For calculated rates,
     * fetches live rates from the shipping provider and caches for 10 minutes.
     * Pass the returned `provider_rate_id` to the select shipping option endpoint.
     *
     * @param {FiveOneEat.customer.GetShippingOptionsRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.cart.getShippingOptions({
     *         business: "katzs-deli",
     *         shipping_address: {
     *             line1: "line1",
     *             city: "city",
     *             state: "state",
     *             postal_code: "postal_code"
     *         }
     *     })
     */
    public getShippingOptions(
        request: FiveOneEat.customer.GetShippingOptionsRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<unknown[]> {
        return core.HttpResponsePromise.fromPromise(this.__getShippingOptions(request, requestOptions));
    }

    private async __getShippingOptions(
        request: FiveOneEat.customer.GetShippingOptionsRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown[]>> {
        const { business, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/cart/shipping-options`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as unknown[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/cart/shipping-options",
        );
    }

    /**
     * Saves the shipping amount and method to the cart server-side.
     * For calculated rates, resolves the amount from cache using the provider_rate_id
     * returned by the shipping options endpoint. The client never submits an amount.
     *
     * @param {FiveOneEat.customer.SelectShippingOptionRequest} request
     * @param {CartClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.cart.selectShippingOption({
     *         business: "katzs-deli",
     *         shipping_rate_id: "shipping_rate_id"
     *     })
     */
    public selectShippingOption(
        request: FiveOneEat.customer.SelectShippingOptionRequest,
        requestOptions?: CartClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.SelectShippingOptionCartResponse> {
        return core.HttpResponsePromise.fromPromise(this.__selectShippingOption(request, requestOptions));
    }

    private async __selectShippingOption(
        request: FiveOneEat.customer.SelectShippingOptionRequest,
        requestOptions?: CartClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.SelectShippingOptionCartResponse>> {
        const { business, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/cart/shipping-option`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.SelectShippingOptionCartResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/cart/shipping-option",
        );
    }
}
