// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../../../../../index.js";

export declare namespace ModifiersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ModifiersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ModifiersClient.Options>;

    constructor(options: ModifiersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.business.menus.items.ListModifiersRequest} request
     * @param {ModifiersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.business.menus.items.modifiers.list({
     *         menuItem: "menuItem"
     *     })
     */
    public list(
        request: FiveOneEat.business.menus.items.ListModifiersRequest,
        requestOptions?: ModifiersClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.menus.items.ListModifiersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FiveOneEat.business.menus.items.ListModifiersRequest,
        requestOptions?: ModifiersClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.menus.items.ListModifiersResponse>> {
        const { menuItem } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/items/${core.url.encodePathParam(menuItem)}/modifiers`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.menus.items.ListModifiersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/business/items/{menuItem}/modifiers",
        );
    }

    /**
     * Creates the modifier if it does not already exist (matched by name), then attaches it to the item.
     *
     * @param {FiveOneEat.business.menus.items.StoreMenuItemModifierRequest} request
     * @param {ModifiersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.menus.items.modifiers.attach({
     *         menuItem: "menuItem",
     *         name: "name",
     *         price: 1.1
     *     })
     */
    public attach(
        request: FiveOneEat.business.menus.items.StoreMenuItemModifierRequest,
        requestOptions?: ModifiersClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.menus.items.AttachModifiersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__attach(request, requestOptions));
    }

    private async __attach(
        request: FiveOneEat.business.menus.items.StoreMenuItemModifierRequest,
        requestOptions?: ModifiersClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.menus.items.AttachModifiersResponse>> {
        const { menuItem, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/items/${core.url.encodePathParam(menuItem)}/modifiers`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.menus.items.AttachModifiersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/business/items/{menuItem}/modifiers",
        );
    }

    /**
     * Removes the association between the modifier and the item. The modifier itself is not deleted.
     *
     * @param {FiveOneEat.business.menus.items.DetachModifiersRequest} request
     * @param {ModifiersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.business.menus.items.modifiers.detach({
     *         menuItem: "menuItem",
     *         modifier: "modifier"
     *     })
     */
    public detach(
        request: FiveOneEat.business.menus.items.DetachModifiersRequest,
        requestOptions?: ModifiersClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.menus.items.DetachModifiersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__detach(request, requestOptions));
    }

    private async __detach(
        request: FiveOneEat.business.menus.items.DetachModifiersRequest,
        requestOptions?: ModifiersClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.menus.items.DetachModifiersResponse>> {
        const { menuItem, modifier } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/items/${core.url.encodePathParam(menuItem)}/modifiers/${core.url.encodePathParam(modifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.menus.items.DetachModifiersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/business/items/{menuItem}/modifiers/{modifier}",
        );
    }
}
