// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../../../index.js";

export declare namespace PaymentMethodsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentMethodsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentMethodsClient.Options>;

    constructor(options: PaymentMethodsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a Stripe SetupIntent client_secret. Use this with the Stripe mobile SDK
     * to present the payment sheet and collect card details. Once confirmed, pass the
     * resulting payment method ID to the store endpoint.
     *
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.me.paymentMethods.setupIntent()
     */
    public setupIntent(
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.me.SetupIntentPaymentMethodsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setupIntent(requestOptions));
    }

    private async __setupIntent(
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.me.SetupIntentPaymentMethodsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/payment-methods/setup-intent",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.me.SetupIntentPaymentMethodsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/payment-methods/setup-intent",
        );
    }

    /**
     * Returns all saved cards for the authenticated user.
     *
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.me.paymentMethods.list()
     */
    public list(
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.PaymentMethod[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.PaymentMethod[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/payment-methods",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.PaymentMethod[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/payment-methods");
    }

    /**
     * Attaches a confirmed payment method to the customer's account. If `is_default` is
     * true, or this is the first card saved, it becomes the default payment method.
     *
     * @param {FiveOneEat.customer.me.StorePaymentMethodRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.me.paymentMethods.add({
     *         payment_method: "payment_method"
     *     })
     */
    public add(
        request: FiveOneEat.customer.me.StorePaymentMethodRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.me.AddPaymentMethodsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__add(request, requestOptions));
    }

    private async __add(
        request: FiveOneEat.customer.me.StorePaymentMethodRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.me.AddPaymentMethodsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/payment-methods",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.me.AddPaymentMethodsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/customer/payment-methods");
    }

    /**
     * Marks an existing saved payment method as the default.
     *
     * @param {FiveOneEat.customer.me.SetDefaultPaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.customer.me.paymentMethods.setDefault({
     *         paymentMethod: "paymentMethod"
     *     })
     */
    public setDefault(
        request: FiveOneEat.customer.me.SetDefaultPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.me.SetDefaultPaymentMethodsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setDefault(request, requestOptions));
    }

    private async __setDefault(
        request: FiveOneEat.customer.me.SetDefaultPaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.me.SetDefaultPaymentMethodsResponse>> {
        const { paymentMethod } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/payment-methods/${core.url.encodePathParam(paymentMethod)}/default`,
            ),
            method: "PUT",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.me.SetDefaultPaymentMethodsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/customer/payment-methods/{paymentMethod}/default",
        );
    }

    /**
     * Removes a saved payment method from the customer's account.
     *
     * @param {FiveOneEat.customer.me.DeletePaymentMethodsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.customer.me.paymentMethods.delete({
     *         paymentMethod: "paymentMethod"
     *     })
     */
    public delete(
        request: FiveOneEat.customer.me.DeletePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: FiveOneEat.customer.me.DeletePaymentMethodsRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { paymentMethod } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/payment-methods/${core.url.encodePathParam(paymentMethod)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/payment-methods/{paymentMethod}",
        );
    }
}
