// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace DiscoveryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DiscoveryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DiscoveryClient.Options>;

    constructor(options: DiscoveryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve businesses within the specified map bounds for map view.
     * Results are optimized for map display with essential business information.
     *
     * @param {FiveOneEat.ExploreBusinessesRequest} request
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.discovery.exploreBusinesses({
     *         bounds: "43.5000,42.5000,-73.5000,-76.5000"
     *     })
     */
    public exploreBusinesses(
        request: FiveOneEat.ExploreBusinessesRequest,
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.ExploreBusinessesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__exploreBusinesses(request, requestOptions));
    }

    private async __exploreBusinesses(
        request: FiveOneEat.ExploreBusinessesRequest,
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.ExploreBusinessesResponse>> {
        const { bounds, zoom_level: zoomLevel } = request;
        const _queryParams: Record<string, unknown> = {
            bounds,
            zoom_level: zoomLevel,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/explore/businesses",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.ExploreBusinessesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/explore/businesses");
    }

    /**
     * Returns a paginated list of populated business categories, each with up to 10 businesses
     * embedded. Use `total_businesses` to link to the full paginated category view.
     * Supports optional filtering by search term, cuisines, and certifications.
     *
     * @param {FiveOneEat.GetDiscoveryFeedRequest} request
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.discovery.getDiscoveryFeed({
     *         search: "organic"
     *     })
     */
    public getDiscoveryFeed(
        request: FiveOneEat.GetDiscoveryFeedRequest = {},
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.DiscoveryFeedResource> {
        return core.HttpResponsePromise.fromPromise(this.__getDiscoveryFeed(request, requestOptions));
    }

    private async __getDiscoveryFeed(
        request: FiveOneEat.GetDiscoveryFeedRequest = {},
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.DiscoveryFeedResource>> {
        const {
            page,
            per_page: perPage,
            search,
            "cuisine_ids[][]": cuisineIdsArrayArray,
            "certification_ids[][]": certificationIdsArrayArray,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            "cuisine_ids[][]": cuisineIdsArrayArray,
            "certification_ids[][]": certificationIdsArrayArray,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/discovery",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.DiscoveryFeedResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/discovery");
    }

    /**
     * Retrieve a list of all business categories that have businesses.
     * This endpoint is used to populate category filters and navigation.
     *
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.discovery.getDiscoveryCategories()
     */
    public getDiscoveryCategories(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetDiscoveryCategoriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDiscoveryCategories(requestOptions));
    }

    private async __getDiscoveryCategories(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetDiscoveryCategoriesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/discovery/categories",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.GetDiscoveryCategoriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/discovery/categories",
        );
    }

    /**
     * Retrieve businesses for a specific category with pagination support.
     * Results are optimized for list display.
     *
     * @param {FiveOneEat.GetCategoryBusinessesRequest} request
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.discovery.getCategoryBusinesses({
     *         category: "restaurant",
     *         search: "coffee"
     *     })
     */
    public getCategoryBusinesses(
        request: FiveOneEat.GetCategoryBusinessesRequest,
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetCategoryBusinessesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCategoryBusinesses(request, requestOptions));
    }

    private async __getCategoryBusinesses(
        request: FiveOneEat.GetCategoryBusinessesRequest,
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetCategoryBusinessesResponse>> {
        const { category, page, per_page: perPage, search } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/discovery/category/${core.url.encodePathParam(category)}/businesses`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.GetCategoryBusinessesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/discovery/category/{category}/businesses",
        );
    }
}
