// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../../../index.js";

export declare namespace CheckInClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CheckInClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CheckInClient.Options>;

    constructor(options: CheckInClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Decodes the base64 QR payload and returns ticket details without performing check-in.
     * Accepts either a `ticket_id` or `ticket_number` inside the QR payload.
     *
     * @param {FiveOneEat.business.events.LookupTicketRequest} request
     * @param {CheckInClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.events.checkIn.lookup({
     *         event: "event",
     *         qr_data: "qr_data"
     *     })
     */
    public lookup(
        request: FiveOneEat.business.events.LookupTicketRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.LookupCheckInResponse> {
        return core.HttpResponsePromise.fromPromise(this.__lookup(request, requestOptions));
    }

    private async __lookup(
        request: FiveOneEat.business.events.LookupTicketRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.LookupCheckInResponse>> {
        const { event, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/events/${core.url.encodePathParam(event)}/check-in/lookup`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.LookupCheckInResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/business/events/{event}/check-in/lookup",
        );
    }

    /**
     * Decodes the base64 QR payload, validates the ticket's current status, marks it as used,
     * and broadcasts the `ticket.checked-in` event via Reverb.
     *
     * Returns `409` if the ticket has already been checked in, `400` for refunded or otherwise
     * invalid tickets.
     *
     * @param {FiveOneEat.business.events.ScanTicketRequest} request
     * @param {CheckInClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.events.checkIn.scan({
     *         event: "event",
     *         qr_data: "qr_data"
     *     })
     */
    public scan(
        request: FiveOneEat.business.events.ScanTicketRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.ScanCheckInResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scan(request, requestOptions));
    }

    private async __scan(
        request: FiveOneEat.business.events.ScanTicketRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.ScanCheckInResponse>> {
        const { event, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/events/${core.url.encodePathParam(event)}/check-in/scan`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.ScanCheckInResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/business/events/{event}/check-in/scan",
        );
    }

    /**
     * Returns ticket counts and check-in rate for the event dashboard.
     *
     * @param {FiveOneEat.business.events.StatsCheckInRequest} request
     * @param {CheckInClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.business.events.checkIn.stats({
     *         event: "event"
     *     })
     */
    public stats(
        request: FiveOneEat.business.events.StatsCheckInRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.StatsCheckInResponse> {
        return core.HttpResponsePromise.fromPromise(this.__stats(request, requestOptions));
    }

    private async __stats(
        request: FiveOneEat.business.events.StatsCheckInRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.StatsCheckInResponse>> {
        const { event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/events/${core.url.encodePathParam(event)}/check-in/stats`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.StatsCheckInResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/business/events/{event}/check-in/stats",
        );
    }

    /**
     * Returns checked-in tickets ordered by check-in time descending.
     * Accepts an optional `limit` query param (default `20`, max `100`).
     *
     * @param {FiveOneEat.business.events.RecentCheckInRequest} request
     * @param {CheckInClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.business.events.checkIn.recent({
     *         event: "event"
     *     })
     */
    public recent(
        request: FiveOneEat.business.events.RecentCheckInRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.RecentCheckInResponse> {
        return core.HttpResponsePromise.fromPromise(this.__recent(request, requestOptions));
    }

    private async __recent(
        request: FiveOneEat.business.events.RecentCheckInRequest,
        requestOptions?: CheckInClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.RecentCheckInResponse>> {
        const { event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/events/${core.url.encodePathParam(event)}/check-in/recent`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.RecentCheckInResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/business/events/{event}/check-in/recent",
        );
    }
}
