// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace MyAccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MyAccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MyAccountClient.Options>;

    constructor(options: MyAccountClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve the authenticated user's favorited businesses with pagination.
     *
     * @param {FiveOneEat.GetMyFavoritesRequest} request
     * @param {MyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.myAccount.getMyFavorites()
     */
    public getMyFavorites(
        request: FiveOneEat.GetMyFavoritesRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyFavoritesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyFavorites(request, requestOptions));
    }

    private async __getMyFavorites(
        request: FiveOneEat.GetMyFavoritesRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyFavoritesResponse>> {
        const { page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/favorites",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyFavoritesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/favorites");
    }

    /**
     * Retrieve the authenticated user's event RSVPs with pagination.
     *
     * @param {FiveOneEat.GetMyRsvpsRequest} request
     * @param {MyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.myAccount.getMyRsvps({
     *         status: "attending"
     *     })
     */
    public getMyRsvps(
        request: FiveOneEat.GetMyRsvpsRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyRsvpsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyRsvps(request, requestOptions));
    }

    private async __getMyRsvps(
        request: FiveOneEat.GetMyRsvpsRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyRsvpsResponse>> {
        const { page, per_page: perPage, status } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            status,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/rsvps",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyRsvpsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/rsvps");
    }

    /**
     * Retrieve the authenticated user's tickets with pagination.
     *
     * @param {FiveOneEat.GetMyTicketsRequest} request
     * @param {MyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.myAccount.getMyTickets()
     */
    public getMyTickets(
        request: FiveOneEat.GetMyTicketsRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyTicketsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyTickets(request, requestOptions));
    }

    private async __getMyTickets(
        request: FiveOneEat.GetMyTicketsRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyTicketsResponse>> {
        const { page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/tickets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyTicketsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/tickets");
    }

    /**
     * Retrieve a single ticket belonging to the authenticated user.
     *
     * @param {FiveOneEat.GetMyTicketRequest} request
     * @param {MyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.myAccount.getMyTicket({
     *         ticketId: "ticketId"
     *     })
     */
    public getMyTicket(
        request: FiveOneEat.GetMyTicketRequest,
        requestOptions?: MyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyTicketResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyTicket(request, requestOptions));
    }

    private async __getMyTicket(
        request: FiveOneEat.GetMyTicketRequest,
        requestOptions?: MyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyTicketResponse>> {
        const { ticketId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/tickets/${core.url.encodePathParam(ticketId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyTicketResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/tickets/{ticketId}");
    }

    /**
     * Retrieve the authenticated user's ticket orders with pagination.
     *
     * @param {FiveOneEat.GetMyTicketOrdersRequest} request
     * @param {MyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.myAccount.getMyTicketOrders()
     */
    public getMyTicketOrders(
        request: FiveOneEat.GetMyTicketOrdersRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyTicketOrdersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyTicketOrders(request, requestOptions));
    }

    private async __getMyTicketOrders(
        request: FiveOneEat.GetMyTicketOrdersRequest = {},
        requestOptions?: MyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyTicketOrdersResponse>> {
        const { page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/ticket-orders",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyTicketOrdersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/ticket-orders");
    }

    /**
     * Retrieve a single ticket order belonging to the authenticated user.
     *
     * @param {FiveOneEat.GetMyTicketOrderRequest} request
     * @param {MyAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.myAccount.getMyTicketOrder({
     *         orderId: "orderId"
     *     })
     */
    public getMyTicketOrder(
        request: FiveOneEat.GetMyTicketOrderRequest,
        requestOptions?: MyAccountClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetMyTicketOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyTicketOrder(request, requestOptions));
    }

    private async __getMyTicketOrder(
        request: FiveOneEat.GetMyTicketOrderRequest,
        requestOptions?: MyAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetMyTicketOrderResponse>> {
        const { orderId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/ticket-orders/${core.url.encodePathParam(orderId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetMyTicketOrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/ticket-orders/{orderId}",
        );
    }
}
