// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as FiveOneEat from "../../../../../index.js";
import { BulletinsClient } from "../resources/bulletins/client/Client.js";
import { EventsClient } from "../resources/events/client/Client.js";

export declare namespace BusinessesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BusinessesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BusinessesClient.Options>;
    protected _bulletins: BulletinsClient | undefined;
    protected _events: EventsClient | undefined;

    constructor(options: BusinessesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get bulletins(): BulletinsClient {
        return (this._bulletins ??= new BulletinsClient(this._options));
    }

    public get events(): EventsClient {
        return (this._events ??= new EventsClient(this._options));
    }

    /**
     * @param {FiveOneEat.customer.ProfileBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.profile({
     *         business: "business"
     *     })
     */
    public profile(
        request: FiveOneEat.customer.ProfileBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__profile(request, requestOptions));
    }

    private async __profile(
        request: FiveOneEat.customer.ProfileBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{business}",
        );
    }

    /**
     * @param {FiveOneEat.customer.MenusBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.menus({
     *         business: "business"
     *     })
     */
    public menus(
        request: FiveOneEat.customer.MenusBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__menus(request, requestOptions));
    }

    private async __menus(
        request: FiveOneEat.customer.MenusBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/menus`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{business}/menus",
        );
    }

    /**
     * @param {FiveOneEat.customer.PhotosBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.photos({
     *         business: "business"
     *     })
     */
    public photos(
        request: FiveOneEat.customer.PhotosBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__photos(request, requestOptions));
    }

    private async __photos(
        request: FiveOneEat.customer.PhotosBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/photos`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{business}/photos",
        );
    }

    /**
     * @param {FiveOneEat.customer.FavoriteBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.favorite({
     *         business: "business"
     *     })
     */
    public favorite(
        request: FiveOneEat.customer.FavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__favorite(request, requestOptions));
    }

    private async __favorite(
        request: FiveOneEat.customer.FavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/favorite`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/favorite",
        );
    }

    /**
     * @param {FiveOneEat.customer.UnfavoriteBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.unfavorite({
     *         business: "business"
     *     })
     */
    public unfavorite(
        request: FiveOneEat.customer.UnfavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__unfavorite(request, requestOptions));
    }

    private async __unfavorite(
        request: FiveOneEat.customer.UnfavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/favorite`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/businesses/{business}/favorite",
        );
    }

    /**
     * @param {FiveOneEat.customer.ListTemporaryLocationsBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.listTemporaryLocations({
     *         business: "business"
     *     })
     */
    public listTemporaryLocations(
        request: FiveOneEat.customer.ListTemporaryLocationsBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__listTemporaryLocations(request, requestOptions));
    }

    private async __listTemporaryLocations(
        request: FiveOneEat.customer.ListTemporaryLocationsBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/temporary-locations`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{business}/temporary-locations",
        );
    }
}
