// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../index.js";
import { BulletinsClient } from "../resources/bulletins/client/Client.js";
import { EventsClient } from "../resources/events/client/Client.js";

export declare namespace BusinessesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BusinessesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BusinessesClient.Options>;
    protected _bulletins: BulletinsClient | undefined;
    protected _events: EventsClient | undefined;

    constructor(options: BusinessesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get bulletins(): BulletinsClient {
        return (this._bulletins ??= new BulletinsClient(this._options));
    }

    public get events(): EventsClient {
        return (this._events ??= new EventsClient(this._options));
    }

    /**
     * Retrieve core business information for the profile page.
     *
     * @param {FiveOneEat.customer.ProfileBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.businesses.profile({
     *         handle: "katzs-deli"
     *     })
     */
    public profile(
        request: FiveOneEat.customer.ProfileBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.ProfileBusinessesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__profile(request, requestOptions));
    }

    private async __profile(
        request: FiveOneEat.customer.ProfileBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.ProfileBusinessesResponse>> {
        const { handle } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.ProfileBusinessesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/businesses/{handle}");
    }

    /**
     * Retrieve all menus organized by groups for the business.
     *
     * @param {FiveOneEat.customer.MenusBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.businesses.menus({
     *         handle: "katzs-deli"
     *     })
     */
    public menus(
        request: FiveOneEat.customer.MenusBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.MenusBusinessesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__menus(request, requestOptions));
    }

    private async __menus(
        request: FiveOneEat.customer.MenusBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.MenusBusinessesResponse>> {
        const { handle, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/menus`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.MenusBusinessesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/menus",
        );
    }

    /**
     * Retrieve photo gallery for the business with pagination.
     *
     * @param {FiveOneEat.customer.PhotosBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.businesses.photos({
     *         handle: "katzs-deli"
     *     })
     */
    public photos(
        request: FiveOneEat.customer.PhotosBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.PhotosBusinessesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__photos(request, requestOptions));
    }

    private async __photos(
        request: FiveOneEat.customer.PhotosBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.PhotosBusinessesResponse>> {
        const { handle, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/photos`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.PhotosBusinessesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/photos",
        );
    }

    /**
     * Add a business to the authenticated user's favorites.
     *
     * @param {FiveOneEat.customer.FavoriteBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.ConflictError}
     *
     * @example
     *     await client.customer.businesses.favorite({
     *         handle: "katzs-deli"
     *     })
     */
    public favorite(
        request: FiveOneEat.customer.FavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.FavoriteBusinessesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__favorite(request, requestOptions));
    }

    private async __favorite(
        request: FiveOneEat.customer.FavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.FavoriteBusinessesResponse>> {
        const { handle } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/favorite`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.FavoriteBusinessesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new FiveOneEat.ConflictError(
                        _response.error.body as FiveOneEat.ConflictErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{handle}/favorite",
        );
    }

    /**
     * Remove a business from the authenticated user's favorites.
     *
     * @param {FiveOneEat.customer.UnfavoriteBusinessesRequest} request
     * @param {BusinessesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.businesses.unfavorite({
     *         handle: "katzs-deli"
     *     })
     */
    public unfavorite(
        request: FiveOneEat.customer.UnfavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__unfavorite(request, requestOptions));
    }

    private async __unfavorite(
        request: FiveOneEat.customer.UnfavoriteBusinessesRequest,
        requestOptions?: BusinessesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { handle } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/favorite`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/businesses/{handle}/favorite",
        );
    }
}
