// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace CustomerStandsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomerStandsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomerStandsClient.Options>;

    constructor(options: CustomerStandsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Logs the scan (user id captured when authenticated) and returns the
     * stand, its business, and the business's published products.
     *
     * @param {FiveOneEat.ScanStandRequest} request
     * @param {CustomerStandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.customerStands.scanStand({
     *         stand: "stand"
     *     })
     */
    public scanStand(
        request: FiveOneEat.ScanStandRequest,
        requestOptions?: CustomerStandsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.ScanStandResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scanStand(request, requestOptions));
    }

    private async __scanStand(
        request: FiveOneEat.ScanStandRequest,
        requestOptions?: CustomerStandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.ScanStandResponse>> {
        const { stand } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `stand/${core.url.encodePathParam(stand)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.ScanStandResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/stand/{stand}");
    }

    /**
     * Returns client_secret, price breakdown, and tax calculation for use with Stripe SDK.
     * Shipping is always zero for stand orders.
     *
     * @param {FiveOneEat.CreateStandPaymentIntentRequest} request
     * @param {CustomerStandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customerStands.createStandPaymentIntent({
     *         stand: "stand"
     *     })
     */
    public createStandPaymentIntent(
        request: FiveOneEat.CreateStandPaymentIntentRequest,
        requestOptions?: CustomerStandsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.CreateStandPaymentIntentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createStandPaymentIntent(request, requestOptions));
    }

    private async __createStandPaymentIntent(
        request: FiveOneEat.CreateStandPaymentIntentRequest,
        requestOptions?: CustomerStandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.CreateStandPaymentIntentResponse>> {
        const { stand, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/stands/${core.url.encodePathParam(stand)}/payment-intent`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.CreateStandPaymentIntentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/stands/{stand}/payment-intent",
        );
    }

    /**
     * @param {FiveOneEat.SelfCheckoutRequest} request
     * @param {CustomerStandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customerStands.standCheckout({
     *         stand: "stand",
     *         payment_intent_id: "payment_intent_id"
     *     })
     */
    public standCheckout(
        request: FiveOneEat.SelfCheckoutRequest,
        requestOptions?: CustomerStandsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.StandCheckoutResponse> {
        return core.HttpResponsePromise.fromPromise(this.__standCheckout(request, requestOptions));
    }

    private async __standCheckout(
        request: FiveOneEat.SelfCheckoutRequest,
        requestOptions?: CustomerStandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.StandCheckoutResponse>> {
        const { stand, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/stands/${core.url.encodePathParam(stand)}/checkout`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.StandCheckoutResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/stands/{stand}/checkout",
        );
    }
}
