// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../../../../../index.js";

export declare namespace PricesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PricesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PricesClient.Options>;

    constructor(options: PricesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.business.products.variants.SetPriceRequest} request
     * @param {PricesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.products.variants.prices.set({
     *         product: "product",
     *         variant: "variant",
     *         priceList: "priceList",
     *         amount_cents: 1
     *     })
     */
    public set(
        request: FiveOneEat.business.products.variants.SetPriceRequest,
        requestOptions?: PricesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.products.variants.SetPricesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__set(request, requestOptions));
    }

    private async __set(
        request: FiveOneEat.business.products.variants.SetPriceRequest,
        requestOptions?: PricesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.products.variants.SetPricesResponse>> {
        const { product, variant, priceList, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/products/${core.url.encodePathParam(product)}/variants/${core.url.encodePathParam(variant)}/prices/${core.url.encodePathParam(priceList)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.products.variants.SetPricesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/business/products/{product}/variants/{variant}/prices/{priceList}",
        );
    }
}
