// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace GetPickupTimeslotsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GetPickupTimeslotsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GetPickupTimeslotsClient.Options>;

    constructor(options: GetPickupTimeslotsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.BusinessesGetPickupTimeslotsRequest} request
     * @param {GetPickupTimeslotsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.getPickupTimeslots.businessesGetPickupTimeslots({
     *         handle: "handle",
     *         date: "2023-01-15"
     *     })
     */
    public businessesGetPickupTimeslots(
        request: FiveOneEat.BusinessesGetPickupTimeslotsRequest,
        requestOptions?: GetPickupTimeslotsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.BusinessesGetPickupTimeslotsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__businessesGetPickupTimeslots(request, requestOptions));
    }

    private async __businessesGetPickupTimeslots(
        request: FiveOneEat.BusinessesGetPickupTimeslotsRequest,
        requestOptions?: GetPickupTimeslotsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.BusinessesGetPickupTimeslotsResponse>> {
        const { handle, date } = request;
        const _queryParams: Record<string, unknown> = {
            date,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/pickup-timeslots`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.BusinessesGetPickupTimeslotsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/pickup-timeslots",
        );
    }
}
