// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../index.js";

export declare namespace DiscoveryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DiscoveryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DiscoveryClient.Options>;

    constructor(options: DiscoveryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of populated business categories, each with up to 10 businesses
     * embedded. Use `total_businesses` to link to the full paginated category view.
     * Supports optional filtering by search term, cuisines, and certifications.
     *
     * @param {FiveOneEat.customer.FeedDiscoveryRequest} request
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.discovery.feed({
     *         search: "organic"
     *     })
     */
    public feed(
        request: FiveOneEat.customer.FeedDiscoveryRequest = {},
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.DiscoveryFeed> {
        return core.HttpResponsePromise.fromPromise(this.__feed(request, requestOptions));
    }

    private async __feed(
        request: FiveOneEat.customer.FeedDiscoveryRequest = {},
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.DiscoveryFeed>> {
        const {
            page,
            per_page: perPage,
            search,
            "cuisine_ids[]": cuisineIdsArray,
            "certification_ids[]": certificationIdsArray,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
            "cuisine_ids[]": cuisineIdsArray,
            "certification_ids[]": certificationIdsArray,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/discovery",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.DiscoveryFeed, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/discovery");
    }

    /**
     * Returns curated sections of businesses for the discovery home screen,
     * including staff picks and founding partners. This endpoint is designed
     * to be extended with additional sections (e.g. editorial, trending) over time.
     *
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.discovery.highlights()
     */
    public highlights(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.DiscoveryHighlights> {
        return core.HttpResponsePromise.fromPromise(this.__highlights(requestOptions));
    }

    private async __highlights(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.DiscoveryHighlights>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/discovery/highlights",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.DiscoveryHighlights, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/discovery/highlights",
        );
    }

    /**
     * Retrieve a list of all business categories that have businesses.
     * This endpoint is used to populate category filters and navigation.
     *
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.discovery.categories()
     */
    public categories(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.CategoriesDiscoveryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__categories(requestOptions));
    }

    private async __categories(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.CategoriesDiscoveryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/discovery/categories",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.CategoriesDiscoveryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/discovery/categories",
        );
    }

    /**
     * Retrieve a list of all cuisines, ordered alphabetically.
     * This endpoint is used to populate cuisine filters.
     *
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.discovery.cuisines()
     */
    public cuisines(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.CuisinesDiscoveryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cuisines(requestOptions));
    }

    private async __cuisines(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.CuisinesDiscoveryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/discovery/cuisines",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.CuisinesDiscoveryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/discovery/cuisines");
    }

    /**
     * Retrieve a list of all certifications, ordered alphabetically.
     * This endpoint is used to populate certification filters.
     *
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customer.discovery.certifications()
     */
    public certifications(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.CertificationsDiscoveryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__certifications(requestOptions));
    }

    private async __certifications(
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.CertificationsDiscoveryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/discovery/certifications",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.CertificationsDiscoveryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/discovery/certifications",
        );
    }

    /**
     * Retrieve businesses for a specific category with pagination support.
     * Results are optimized for list display.
     *
     * @param {FiveOneEat.customer.CategoryBusinessesDiscoveryRequest} request
     * @param {DiscoveryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.discovery.categoryBusinesses({
     *         category: "restaurant",
     *         search: "coffee"
     *     })
     */
    public categoryBusinesses(
        request: FiveOneEat.customer.CategoryBusinessesDiscoveryRequest,
        requestOptions?: DiscoveryClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.CategoryBusinessesDiscoveryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__categoryBusinesses(request, requestOptions));
    }

    private async __categoryBusinesses(
        request: FiveOneEat.customer.CategoryBusinessesDiscoveryRequest,
        requestOptions?: DiscoveryClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.CategoryBusinessesDiscoveryResponse>> {
        const { category, page, per_page: perPage, search } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/discovery/category/${core.url.encodePathParam(category)}/businesses`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.CategoryBusinessesDiscoveryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/discovery/category/{category}/businesses",
        );
    }
}
