// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import type * as FiveOneEat from "../../../../../../../../../index.js";

export declare namespace CommentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CommentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CommentsClient.Options>;

    constructor(options: CommentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.customer.businesses.bulletins.ListCommentsRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.bulletins.comments.list({
     *         business: "business",
     *         bulletin: "bulletin"
     *     })
     */
    public list(
        request: FiveOneEat.customer.businesses.bulletins.ListCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FiveOneEat.customer.businesses.bulletins.ListCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business, bulletin } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/bulletins/${core.url.encodePathParam(bulletin)}/comments`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{business}/bulletins/{bulletin}/comments",
        );
    }

    /**
     * @param {FiveOneEat.customer.businesses.bulletins.CreateCommentsRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.bulletins.comments.create({
     *         business: "business",
     *         bulletin: "bulletin"
     *     })
     */
    public create(
        request: FiveOneEat.customer.businesses.bulletins.CreateCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: FiveOneEat.customer.businesses.bulletins.CreateCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business, bulletin } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/bulletins/${core.url.encodePathParam(bulletin)}/comments`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/bulletins/{bulletin}/comments",
        );
    }

    /**
     * @param {FiveOneEat.customer.businesses.bulletins.ListRepliesCommentsRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.bulletins.comments.listReplies({
     *         business: "business",
     *         bulletin: "bulletin",
     *         comment: "comment"
     *     })
     */
    public listReplies(
        request: FiveOneEat.customer.businesses.bulletins.ListRepliesCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__listReplies(request, requestOptions));
    }

    private async __listReplies(
        request: FiveOneEat.customer.businesses.bulletins.ListRepliesCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business, bulletin, comment } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/bulletins/${core.url.encodePathParam(bulletin)}/comments/${core.url.encodePathParam(comment)}/replies`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{business}/bulletins/{bulletin}/comments/{comment}/replies",
        );
    }

    /**
     * @param {FiveOneEat.customer.businesses.bulletins.ReplyCommentsRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customer.businesses.bulletins.comments.reply({
     *         business: "business",
     *         bulletin: "bulletin",
     *         comment: "comment"
     *     })
     */
    public reply(
        request: FiveOneEat.customer.businesses.bulletins.ReplyCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__reply(request, requestOptions));
    }

    private async __reply(
        request: FiveOneEat.customer.businesses.bulletins.ReplyCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { business, bulletin, comment } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(business)}/bulletins/${core.url.encodePathParam(bulletin)}/comments/${core.url.encodePathParam(comment)}/replies`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FiveOneEatError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{business}/bulletins/{bulletin}/comments/{comment}/replies",
        );
    }
}
