// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../index.js";
import { TicketOrdersClient } from "../resources/ticketOrders/client/Client.js";
import { TicketsClient } from "../resources/tickets/client/Client.js";

export declare namespace MeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MeClient.Options>;
    protected _tickets: TicketsClient | undefined;
    protected _ticketOrders: TicketOrdersClient | undefined;

    constructor(options: MeClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get tickets(): TicketsClient {
        return (this._tickets ??= new TicketsClient(this._options));
    }

    public get ticketOrders(): TicketOrdersClient {
        return (this._ticketOrders ??= new TicketOrdersClient(this._options));
    }

    /**
     * Retrieve the authenticated user's favorited businesses with pagination.
     *
     * @param {FiveOneEat.customer.FavoritesMeRequest} request
     * @param {MeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.me.favorites()
     */
    public favorites(
        request: FiveOneEat.customer.FavoritesMeRequest = {},
        requestOptions?: MeClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.FavoritesMeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__favorites(request, requestOptions));
    }

    private async __favorites(
        request: FiveOneEat.customer.FavoritesMeRequest = {},
        requestOptions?: MeClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.FavoritesMeResponse>> {
        const { page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/favorites",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.FavoritesMeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/favorites");
    }

    /**
     * Retrieve the authenticated user's event RSVPs with pagination.
     *
     * @param {FiveOneEat.customer.RsvpsMeRequest} request
     * @param {MeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.me.rsvps({
     *         status: "attending"
     *     })
     */
    public rsvps(
        request: FiveOneEat.customer.RsvpsMeRequest = {},
        requestOptions?: MeClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.RsvpsMeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__rsvps(request, requestOptions));
    }

    private async __rsvps(
        request: FiveOneEat.customer.RsvpsMeRequest = {},
        requestOptions?: MeClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.RsvpsMeResponse>> {
        const { page, per_page: perPage, status } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            status,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/rsvps",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.customer.RsvpsMeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/rsvps");
    }
}
