// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../../../index.js";

export declare namespace TicketTypesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TicketTypesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TicketTypesClient.Options>;

    constructor(options: TicketTypesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.business.events.ListTicketTypesRequest} request
     * @param {TicketTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.business.events.ticketTypes.list({
     *         event: "event"
     *     })
     */
    public list(
        request: FiveOneEat.business.events.ListTicketTypesRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.ListTicketTypesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FiveOneEat.business.events.ListTicketTypesRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.ListTicketTypesResponse>> {
        const { event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/events/${core.url.encodePathParam(event)}/ticket-types`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.ListTicketTypesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/business/events/{event}/ticket-types",
        );
    }

    /**
     * @param {FiveOneEat.business.events.StoreTicketTypeRequest} request
     * @param {TicketTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.events.ticketTypes.create({
     *         event: "event",
     *         name: "name",
     *         price: 1.1,
     *         quantity_available: 1
     *     })
     */
    public create(
        request: FiveOneEat.business.events.StoreTicketTypeRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.CreateTicketTypesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: FiveOneEat.business.events.StoreTicketTypeRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.CreateTicketTypesResponse>> {
        const { event, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/events/${core.url.encodePathParam(event)}/ticket-types`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.CreateTicketTypesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/business/events/{event}/ticket-types",
        );
    }

    /**
     * @param {FiveOneEat.business.events.GetTicketTypesRequest} request
     * @param {TicketTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.business.events.ticketTypes.get({
     *         ticketType: "ticketType"
     *     })
     */
    public get(
        request: FiveOneEat.business.events.GetTicketTypesRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.GetTicketTypesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: FiveOneEat.business.events.GetTicketTypesRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.GetTicketTypesResponse>> {
        const { ticketType } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/ticket-types/${core.url.encodePathParam(ticketType)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.GetTicketTypesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/business/ticket-types/{ticketType}",
        );
    }

    /**
     * @param {FiveOneEat.business.events.UpdateTicketTypeRequest} request
     * @param {TicketTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.events.ticketTypes.update({
     *         ticketType: "ticketType"
     *     })
     */
    public update(
        request: FiveOneEat.business.events.UpdateTicketTypeRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.UpdateTicketTypesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: FiveOneEat.business.events.UpdateTicketTypeRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.UpdateTicketTypesResponse>> {
        const { ticketType, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/ticket-types/${core.url.encodePathParam(ticketType)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.UpdateTicketTypesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/business/ticket-types/{ticketType}",
        );
    }

    /**
     * @param {FiveOneEat.business.events.DeleteTicketTypesRequest} request
     * @param {TicketTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.ForbiddenError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.business.events.ticketTypes.delete({
     *         ticketType: "ticketType"
     *     })
     */
    public delete(
        request: FiveOneEat.business.events.DeleteTicketTypesRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.business.events.DeleteTicketTypesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: FiveOneEat.business.events.DeleteTicketTypesRequest,
        requestOptions?: TicketTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.business.events.DeleteTicketTypesResponse>> {
        const { ticketType } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `business/ticket-types/${core.url.encodePathParam(ticketType)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.business.events.DeleteTicketTypesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new FiveOneEat.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/business/ticket-types/{ticketType}",
        );
    }
}
