// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace CustomerEventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomerEventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomerEventsClient.Options>;

    constructor(options: CustomerEventsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Place a temporary hold on tickets for the specified event. Holds expire after 10 minutes.
     *
     * @param {FiveOneEat.StoreTicketHoldRequest} request
     * @param {CustomerEventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customerEvents.holdTickets({
     *         eventId: "eventId",
     *         tickets: [{
     *                 ticket_type_id: "ticket_type_id",
     *                 quantity: 1
     *             }]
     *     })
     */
    public holdTickets(
        request: FiveOneEat.StoreTicketHoldRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.HoldTicketsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__holdTickets(request, requestOptions));
    }

    private async __holdTickets(
        request: FiveOneEat.StoreTicketHoldRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.HoldTicketsResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/ticket-holds`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.HoldTicketsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/ticket-holds",
        );
    }

    /**
     * Release all active holds for the given session, freeing the tickets for others.
     *
     * @param {FiveOneEat.ReleaseTicketHoldRequest} request
     * @param {CustomerEventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.customerEvents.releaseTicketHold({
     *         eventId: "eventId",
     *         sessionId: "sessionId"
     *     })
     */
    public releaseTicketHold(
        request: FiveOneEat.ReleaseTicketHoldRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__releaseTicketHold(request, requestOptions));
    }

    private async __releaseTicketHold(
        request: FiveOneEat.ReleaseTicketHoldRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { eventId, sessionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/ticket-holds/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/events/{eventId}/ticket-holds/{sessionId}",
        );
    }

    /**
     * Preview the subtotal, platform fee, and total for a given ticket selection.
     *
     * @param {FiveOneEat.CalculatePriceRequest} request
     * @param {CustomerEventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customerEvents.calculateTicketPrice({
     *         eventId: "eventId",
     *         tickets: [{
     *                 ticket_type_id: "ticket_type_id",
     *                 quantity: 1
     *             }]
     *     })
     */
    public calculateTicketPrice(
        request: FiveOneEat.CalculatePriceRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.CalculateTicketPriceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__calculateTicketPrice(request, requestOptions));
    }

    private async __calculateTicketPrice(
        request: FiveOneEat.CalculatePriceRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.CalculateTicketPriceResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/calculate-price`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.CalculateTicketPriceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/calculate-price",
        );
    }

    /**
     * Create a Stripe payment intent for the tickets held in the given session.
     * Returns a client_secret for the mobile app to confirm payment with Stripe.
     *
     * @param {FiveOneEat.CreatePaymentIntentRequest} request
     * @param {CustomerEventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customerEvents.createPaymentIntent({
     *         eventId: "eventId",
     *         session_id: "session_id"
     *     })
     */
    public createPaymentIntent(
        request: FiveOneEat.CreatePaymentIntentRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.CreatePaymentIntentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPaymentIntent(request, requestOptions));
    }

    private async __createPaymentIntent(
        request: FiveOneEat.CreatePaymentIntentRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.CreatePaymentIntentResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/payment-intent`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.CreatePaymentIntentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/payment-intent",
        );
    }

    /**
     * Confirm a completed Stripe payment and create the ticket order.
     * The payment must have succeeded before calling this endpoint.
     *
     * @param {FiveOneEat.StoreTicketOrderRequest} request
     * @param {CustomerEventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customerEvents.confirmTicketOrder({
     *         eventId: "eventId",
     *         payment_intent_id: "payment_intent_id",
     *         session_id: "session_id"
     *     })
     */
    public confirmTicketOrder(
        request: FiveOneEat.StoreTicketOrderRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.ConfirmTicketOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__confirmTicketOrder(request, requestOptions));
    }

    private async __confirmTicketOrder(
        request: FiveOneEat.StoreTicketOrderRequest,
        requestOptions?: CustomerEventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.ConfirmTicketOrderResponse>> {
        const { eventId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/events/${core.url.encodePathParam(eventId)}/ticket-orders`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.ConfirmTicketOrderResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/events/{eventId}/ticket-orders",
        );
    }
}
