// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace BusinessContentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BusinessContentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BusinessContentClient.Options>;

    constructor(options: BusinessContentClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all menus organized by groups for the business.
     *
     * @param {FiveOneEat.GetBusinessMenusRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.businessContent.getBusinessMenus({
     *         handle: "katzs-deli"
     *     })
     */
    public getBusinessMenus(
        request: FiveOneEat.GetBusinessMenusRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetBusinessMenusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBusinessMenus(request, requestOptions));
    }

    private async __getBusinessMenus(
        request: FiveOneEat.GetBusinessMenusRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetBusinessMenusResponse>> {
        const { handle, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/menus`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetBusinessMenusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/menus",
        );
    }

    /**
     * Retrieve photo gallery for the business with pagination.
     *
     * @param {FiveOneEat.GetBusinessPhotosRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.businessContent.getBusinessPhotos({
     *         handle: "katzs-deli"
     *     })
     */
    public getBusinessPhotos(
        request: FiveOneEat.GetBusinessPhotosRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetBusinessPhotosResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBusinessPhotos(request, requestOptions));
    }

    private async __getBusinessPhotos(
        request: FiveOneEat.GetBusinessPhotosRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetBusinessPhotosResponse>> {
        const { handle, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/photos`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetBusinessPhotosResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/photos",
        );
    }

    /**
     * Retrieve business announcements and updates with pagination.
     *
     * @param {FiveOneEat.GetBusinessBulletinsRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.businessContent.getBusinessBulletins({
     *         handle: "katzs-deli"
     *     })
     */
    public getBusinessBulletins(
        request: FiveOneEat.GetBusinessBulletinsRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetBusinessBulletinsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBusinessBulletins(request, requestOptions));
    }

    private async __getBusinessBulletins(
        request: FiveOneEat.GetBusinessBulletinsRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetBusinessBulletinsResponse>> {
        const { handle, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/bulletins`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.GetBusinessBulletinsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/bulletins",
        );
    }

    /**
     * Retrieve paginated comments for a published business bulletin.
     *
     * @param {FiveOneEat.GetBulletinCommentsRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.businessContent.getBulletinComments({
     *         handle: "katzs-deli",
     *         bulletin: "01950e7d-1234-7000-abcd-ef0123456789"
     *     })
     */
    public getBulletinComments(
        request: FiveOneEat.GetBulletinCommentsRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetBulletinCommentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBulletinComments(request, requestOptions));
    }

    private async __getBulletinComments(
        request: FiveOneEat.GetBulletinCommentsRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetBulletinCommentsResponse>> {
        const { handle, bulletin, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/bulletins/${core.url.encodePathParam(bulletin)}/comments`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.GetBulletinCommentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/bulletins/{bulletin}/comments",
        );
    }

    /**
     * Post a comment on a business bulletin. Requires authentication.
     *
     * @param {FiveOneEat.StoreBulletinCommentRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.businessContent.createBulletinComment({
     *         handle: "katzs-deli",
     *         bulletin: "01950e7d-1234-7000-abcd-ef0123456789",
     *         body: "body"
     *     })
     */
    public createBulletinComment(
        request: FiveOneEat.StoreBulletinCommentRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.CreateBulletinCommentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBulletinComment(request, requestOptions));
    }

    private async __createBulletinComment(
        request: FiveOneEat.StoreBulletinCommentRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.CreateBulletinCommentResponse>> {
        const { handle, bulletin, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/bulletins/${core.url.encodePathParam(bulletin)}/comments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.CreateBulletinCommentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{handle}/bulletins/{bulletin}/comments",
        );
    }

    /**
     * Retrieve upcoming events for the business with pagination.
     *
     * @param {FiveOneEat.GetBusinessEventsRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.businessContent.getBusinessEvents({
     *         handle: "katzs-deli"
     *     })
     */
    public getBusinessEvents(
        request: FiveOneEat.GetBusinessEventsRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetBusinessEventsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBusinessEvents(request, requestOptions));
    }

    private async __getBusinessEvents(
        request: FiveOneEat.GetBusinessEventsRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetBusinessEventsResponse>> {
        const { handle, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/events`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetBusinessEventsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/events",
        );
    }

    /**
     * Retrieve full details for a single upcoming event belonging to the business.
     *
     * @param {FiveOneEat.GetBusinessEventRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.businessContent.getBusinessEvent({
     *         handle: "katzs-deli",
     *         event: "event"
     *     })
     */
    public getBusinessEvent(
        request: FiveOneEat.GetBusinessEventRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetBusinessEventResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBusinessEvent(request, requestOptions));
    }

    private async __getBusinessEvent(
        request: FiveOneEat.GetBusinessEventRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetBusinessEventResponse>> {
        const { handle, event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/events/${core.url.encodePathParam(event)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetBusinessEventResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/events/{event}",
        );
    }

    /**
     * Create or update the authenticated user's RSVP for a business event.
     *
     * @param {FiveOneEat.StoreEventRsvpRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.businessContent.storeEventRsvp({
     *         handle: "katzs-deli",
     *         event: "01950e7d-1234-7000-abcd-ef0123456789",
     *         status: "attending"
     *     })
     */
    public storeEventRsvp(
        request: FiveOneEat.StoreEventRsvpRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.StoreEventRsvpResponse> {
        return core.HttpResponsePromise.fromPromise(this.__storeEventRsvp(request, requestOptions));
    }

    private async __storeEventRsvp(
        request: FiveOneEat.StoreEventRsvpRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.StoreEventRsvpResponse>> {
        const { handle, event, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/events/${core.url.encodePathParam(event)}/rsvp`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.StoreEventRsvpResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customer/businesses/{handle}/events/{event}/rsvp",
        );
    }

    /**
     * Cancel the authenticated user's RSVP for a business event.
     *
     * @param {FiveOneEat.DestroyEventRsvpRequest} request
     * @param {BusinessContentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.NotFoundError}
     *
     * @example
     *     await client.businessContent.destroyEventRsvp({
     *         handle: "katzs-deli",
     *         event: "01950e7d-1234-7000-abcd-ef0123456789"
     *     })
     */
    public destroyEventRsvp(
        request: FiveOneEat.DestroyEventRsvpRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): core.HttpResponsePromise<number> {
        return core.HttpResponsePromise.fromPromise(this.__destroyEventRsvp(request, requestOptions));
    }

    private async __destroyEventRsvp(
        request: FiveOneEat.DestroyEventRsvpRequest,
        requestOptions?: BusinessContentClient.RequestOptions,
    ): Promise<core.WithRawResponse<number>> {
        const { handle, event } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/events/${core.url.encodePathParam(event)}/rsvp`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as number, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new FiveOneEat.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customer/businesses/{handle}/events/{event}/rsvp",
        );
    }
}
