// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as FiveOneEat from "../../../index.js";

export declare namespace CustomerShopClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomerShopClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomerShopClient.Options>;

    constructor(options: CustomerShopClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {FiveOneEat.ListShopProductsRequest} request
     * @param {CustomerShopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customerShop.listShopProducts({
     *         handle: "katzs-deli"
     *     })
     */
    public listShopProducts(
        request: FiveOneEat.ListShopProductsRequest,
        requestOptions?: CustomerShopClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.ListShopProductsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listShopProducts(request, requestOptions));
    }

    private async __listShopProducts(
        request: FiveOneEat.ListShopProductsRequest,
        requestOptions?: CustomerShopClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.ListShopProductsResponse>> {
        const { handle, category_id: categoryId, featured } = request;
        const _queryParams: Record<string, unknown> = {
            category_id: categoryId,
            featured,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/shop`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.ListShopProductsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/shop",
        );
    }

    /**
     * @param {FiveOneEat.GetShopProductRequest} request
     * @param {CustomerShopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customerShop.getShopProduct({
     *         handle: "katzs-deli",
     *         product: "product"
     *     })
     */
    public getShopProduct(
        request: FiveOneEat.GetShopProductRequest,
        requestOptions?: CustomerShopClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.GetShopProductResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getShopProduct(request, requestOptions));
    }

    private async __getShopProduct(
        request: FiveOneEat.GetShopProductRequest,
        requestOptions?: CustomerShopClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.GetShopProductResponse>> {
        const { handle, product } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/shop/products/${core.url.encodePathParam(product)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FiveOneEat.GetShopProductResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/shop/products/{product}",
        );
    }

    /**
     * @param {FiveOneEat.ListShopCategoriesRequest} request
     * @param {CustomerShopClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     *
     * @example
     *     await client.customerShop.listShopCategories({
     *         handle: "katzs-deli"
     *     })
     */
    public listShopCategories(
        request: FiveOneEat.ListShopCategoriesRequest,
        requestOptions?: CustomerShopClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.ListShopCategoriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listShopCategories(request, requestOptions));
    }

    private async __listShopCategories(
        request: FiveOneEat.ListShopCategoriesRequest,
        requestOptions?: CustomerShopClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.ListShopCategoriesResponse>> {
        const { handle } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                `customer/businesses/${core.url.encodePathParam(handle)}/shop/categories`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.ListShopCategoriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customer/businesses/{handle}/shop/categories",
        );
    }
}
