// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as FiveOneEat from "../../../../../index.js";
import { TicketingClient } from "../resources/ticketing/client/Client.js";

export declare namespace EventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EventsClient.Options>;
    protected _ticketing: TicketingClient | undefined;

    constructor(options: EventsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get ticketing(): TicketingClient {
        return (this._ticketing ??= new TicketingClient(this._options));
    }

    /**
     * Retrieve a paginated feed of upcoming events across all businesses.
     * Defaults to all events starting from now, ordered by start date ascending.
     * Optionally filter by a date range using date_from and date_to.
     *
     * @param {FiveOneEat.customer.FeedEventsRequest} request
     * @param {EventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FiveOneEat.UnauthorizedError}
     * @throws {@link FiveOneEat.UnprocessableEntityError}
     *
     * @example
     *     await client.customer.events.feed({
     *         date_from: "2026-05-01",
     *         date_to: "2026-05-31"
     *     })
     */
    public feed(
        request: FiveOneEat.customer.FeedEventsRequest = {},
        requestOptions?: EventsClient.RequestOptions,
    ): core.HttpResponsePromise<FiveOneEat.customer.FeedEventsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__feed(request, requestOptions));
    }

    private async __feed(
        request: FiveOneEat.customer.FeedEventsRequest = {},
        requestOptions?: EventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<FiveOneEat.customer.FeedEventsResponse>> {
        const { date_from: dateFrom, date_to: dateTo, per_page: perPage, page } = request;
        const _queryParams: Record<string, unknown> = {
            date_from: dateFrom,
            date_to: dateTo,
            per_page: perPage,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FiveOneEatEnvironment.Production,
                "customer/events",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FiveOneEat.customer.FeedEventsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new FiveOneEat.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new FiveOneEat.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FiveOneEatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customer/events");
    }
}
